<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="includes/css/sidebarNavigation.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="includes/css/muro.css" rel="stylesheet">
  <link href="includes/css/diseno.css" rel="stylesheet">
  <link rel="stylesheet" href="includes/css/estilos.css">
  <link rel="stylesheet" href="includes/css/blog.css">
  <link rel="stylesheet" type="text/css" href="includes/css/insta.css">
  <link type="text/css" rel="stylesheet" id="arrowchat_css" media="all" href="/arrowchat/external.php?type=css&amp" charset="utf-8" />
  <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <script src="includes/js/jquery.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script src="includes/js/sidebarNavigation.js"></script>

  <script type="text/javascript" src="/arrowchat/includes/js/jquery.js"></script>
  <script type="text/javascript" src="/arrowchat/includes/js/jquery-ui.js"></script>
</head>
<body>
  <div class="container theme-showcase" role="main">
    <div class="page-header text-center">
        <h1>Mis trabajos y citas</h1>
    </div>
    <div class="page-header">
        <h2>Trabajos pendientes</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-striped tablesorter table-bordered table-condensed text-center" id="tbres">
        <thead>
          <tr>
            <th class="text-center">Cliente</th>
            <th class="text-center hidden-sm hidden-xs">Iniciado</th>
            <th class="text-center">Servicios</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="bodypendientes">
        </tbody>
      </table>
    </div>
    <div class="page-header">
        <h2>Trabajos Finalizados</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-striped tablesorter table-bordered table-condensed text-center" id="tbres">
        <thead>
          <tr>
            <th class="text-center">Cliente</th>
            <th class="text-center hidden-sm hidden-xs">Iniciado</th>
            <th class="text-center">Servicios</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody id="bodyfinalizados">
        </tbody>
      </table>
      <div>* El cliente aun no confirmó que finalizaste tu trabajo.</div>
    </div>
  </div>
  <br/>
  <br/>
</body>
<script type="text/javascript" src="/arrowchat/external.php?type=djs" charset="utf-8"></script>
<script type="text/javascript" src="/arrowchat/external.php?type=js&v=2r13" charset="utf-8"></script>
<script type="text/javascript" src="/includes/js/citas.js" charset="utf-8"></script>
<script type="text/javascript" src="/includes/js/works.js" charset="utf-8"></script>
<script type="text/javascript" src="/includes/js/calificar.js" charset="utf-8"></script>
</html>