.list-group-item{
	width: 60%;
	margin-left: 250px;
}
#bot{
	margin-left: 480px;
	width: 20%;
}
.spa{
	margin-left: 480px;
}
.list-group{
	margin-top:-20px;
}
@media (max-width: 750px){
	.list-group-item{
				width: 100%;
				margin-left:0;
		}
	.spa{
	margin-left: 180px;

	}
	.list-group{
	margin-top:-21px;
}
	#bot{
	margin-left: 100px;
	width: 40%;
		}
}

@media (max-width: 450px){
	.list-group-item{
				width: 100%;
				margin-left:0;
		}
	.spa{
	margin-left: 180px;

	}
	#bot{
	margin-left: 110px;
	width: 40%;
		}
}
@media (max-width: 400px){
	.list-group-item{
				width: 100%;
				margin-left:0;
		}
	.spa{
	margin-left: 180px;

	}
	#bot{
	margin-left: 125px;
	width: 40%;
		}
}

@media (max-width: 360px){
	.list-group-item{
				width: 100%;
				margin-left:0;
		}
	.spa{
	margin-left: 140px;

	}
	#bot{
	margin-left: 115px;
	width: 40%;
		}
}