*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding-bottom: 0px;
}
.navbar{
    margin-bottom: 0px;
}
.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(10px)
}

.capa{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.background img{
    width: 200%;
}

main{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    z-index: 10;
    position: relative;
}

main h1{
    text-align: center;
    font-size: 40px;
}

.line{
    width: 100%;
    height: 6px;
    border-style: none;
    background: #cecece;
    margin-top: 20px;
}

.container-comments{
  width: 100%;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
}
.container-comments, 
.container-comments-request{
    margin-top: 20px;
}

.container-comments-request{
    margin-left: 100px;

}

.comments,
.comments-request{
    display: flex;
}


.photo-perfil{
    width: 200px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
}

.photo-perfil-request{
    width: 200px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.photo-perfil-request img{
    width: 100%;
    height: 100%;
}

.photo-perfil img{
    width: 100%;
    height: 100%;
}
.foter{
    width: 700px;
    height: 320px;
}
.info-comments,
.info-comments-request{
    width: 100%;

    background: #e6e6e6;
    transition: all 300ms;
    margin-top: 10px;
    border-bottom: 6px solid black;
    border-radius: 5px;

}


.info-comments .header,
.info-comments-request .header{
    display: flex;
    width: 100%;
    padding: 5px ;
    background: #16A085;
    color: white;
     border-radius: 5px;

}
.h4{
    margin-left: 10px;
}

.info-comments p,
.info-comments-request p{
    padding: 2px;
    border-radius: 5px;
}
.footer{
     background: white;
    padding: 10px;
    color: #5f5f5f;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.info-comments .footer,
.info-comments-request .footer{
    width: 100%;
    background: white;
    padding: 10px;
    color: #5f5f5f;
    display: flex;
    justify-content: space-between;
}

.info-comments .footer h5,
.info-comments-request .footer h5{
    font-size: 15px;
    cursor: pointer;
}

.info-comments .icon-heart,
.info-comments-request .icon-heart{
    color: #aaaaaa;
    transition: all 300ms;
    font-size: 20px;
}

.info-comments .icon-heart:hover,
.info-comments-request .icon-heart:hover{
    color: #d91111;
    cursor: pointer;
}

.nombres{
    margin-top: 30px;
    margin-left: 20px;
}

/*Contenedor para los datos de comentarios*/


div.container-data{
    width: 50%;
    bottom: 0px;
    position: fixed;
    background: white;
    padding: 20px;
    padding-bottom: 80px;
    z-index: 11;
    border-top: 6px solid #197d04;
}

.photo-input{
    display: flex;
}


.perfil-photo img{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}



.mensaje{
     width: 90%;
     
    height: 35px;
    color:black;
    border: none;
    border-radius:10px;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background: #ebebeb;
}
.mensaje::placeholder{
    text-align: left;

}
.mensaje:hover{
        transition: .8s;
        background: #ebebeb;
        border-radius:10px;
        
}
.mensaje:focus{
    transition: .8s;
    border-radius:10px;

}

#btn-comment{
    position: absolute;
    right: 20px;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
   
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
}

.btn-comment:hover{
    opacity: 0.9;
}

.capa-data{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: 10;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 280px;
    }
.carousel-inner>.item>a>img, .carousel-inner>.item>img,.max, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: auto;
    }
@media (max-width: 650px){
 div.container-data{
    width: 100%;
   
    position: fixed;
    background: white;
    padding: 10px;
    padding-bottom: 100px;
    z-index: 11;
    border-top: 6px solid #197d04;
    margin: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img,.max, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: auto;
    }
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 260px;
    }
img.futer{
    position: relative;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info-comments-request{
    margin-left: 25px;
}
.container-comments-request{
    width: 95%;
    margin-left: 15px;
}
.foter{
    
    width:340px; 
    height: 300px;
}
.photo-perfil-request{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

}
@media (max-width: 390px){
div.container-data{
    width: 99%;
   
    position: fixed;
    background: white;
    padding: 10px;
    padding-bottom: 60px;
    z-index: 11;
    border-top: 6px solid #019CDE;
    margin: 0;
}


.info-comments-request{
    margin-left: 15px;
}
.container-comments-request{
    width: 95%;
    margin-left: 15px;
}
.foter{
    
    width:310px ;
    height: 282px;
}
}


