.img-thumbnail{
    width: 280px;
    height: 210px;
    margin-bottom: 15px;
    margin-left: 20px;

}

.galeria{
   
    display: flex;
    width: 100%;
    justify-content:space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;

   
}
.container1{
	width: 100%;
}