  
#ciudad{
    width: 50%;
}
.margin1{
    position: relative;
    display: flex;
    margin-left:345px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
  }
.imagen1{
   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    
}
#fot1{
    position: relative;
    color: black;
}
.imo{
	
	display: flex;
	height: 300px;
	width: 60%;
	margin-left: 230px;
}  
.container-fluid li a{
   list-style: none;
}
#nombr{
	
	font-size: 20px;
	bottom:45px;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
    margin-left: 35px;

}
.dropdown-menu a{
	color: black;
}
.modal-title{
    opacity: 0.5;
}
#caja{
    width: 70%;
    font-size:20px;
    color:black;
    border: none;
  
    outline: none;
    background: transparent;
    display: block;
    margin-top: 5px;
}

#nombr:hover{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
}
#letras1:hover{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
    border-left-color:transparent;
    border-right-color: transparent;
}
#letras2:hover{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
}
#letras:hover{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
}
.icon{
	font-size: 25px;
	margin-left: 60px;

}
#letras{
background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
   margin-left:-390px;
 color: black;
    

}
#letras2{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
   margin-left: -20px;
   color: black;
   
    

}

#letras1{
	background: transparent;
	border-top-color:transparent;
    border-bottom-color: transparent;
     border-left-color:transparent;
    border-right-color: transparent;
   margin-left: -155px;
   color: black;
   
    

}
.iconsn2{
	color: #1A81F7;
	font-size: 25px;
	margin-left: -90px;

}
.iconsn3{
	color: #1A81F7;
	font-size: 25px;
	margin-left:0;

}
.iconsn{
	color: #1A81F7;
	font-size: 25px;
	margin-left: -210px;

}
#letras:hover{
   background: transparent;
}
.container-fluid{
	width: 100%;
}

.ula li a :hover{
     color: black;
     background-color: transparent;
}
.ula li a{
     color: black;
     text-decoration: none;
}
.ula{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: black;
}

