.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    max-width: 340px; // orginal twitter width: 290px;
}

.container{
    width:80%;
}
.iconsn{
     display: block;
    font-size: 20px;
   
    transition: color 0.15s ease-in-out 0s;
    margin-left: 30px;
 }
.iconsn2 {
    display: block;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
    margin-left: 30px;
}
span.twPc-StatLabel {
    color: #8899a6;

    font-size: 15px;
    letter-spacing: 0.02em;
    overflow: hidden;
  
    transition: color 0.15s ease-in-out 0s;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
   
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 300px;
    width: 100%;
}
div.twPc-divName {
    margin-top:5px;
    color:white;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}
img.img-thumbnail1 {
   
    border-radius: 50%;
    padding: 4px;
    background: #fff;
    height: 210px;
    width: 210px;
    margin-top: -90px;
    margin-bottom: 40px;
}
.twPc-d {
    background: #fff none repeat scroll 0 0;

    border-radius: 6px;
    height: 250px;
    margin-left: 150px;
    max-width: 70%;
    //: ;
    
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 300px;
    margin-left: 150px;
    max-width: 70%;
    //: ;
    
}
.twPc-block {
    display: block;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: transparent;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-ArrangeSizeFit a{
    color:#3665F5  ;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}

.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 230px;
    margin-top: 30px;
    padding: 5px 0;
   
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 60%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;

}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

@media (max-width: 1000px){
        .container{
        width:100%;
    }
    .iconsn2 {
        display: block;
        font-size: 20px;
        font-weight: 500;
        transition: color 0.15s ease-in-out 0s;
        margin-left: 30px;
    }
     .iconsn {
        display: block;
        font-size: 20px;
       
        transition: color 0.15s ease-in-out 0s;
        margin-left: 30px;
    }
    span.twPc-StatLabel {
        color: #8899a6;
        font-size: 18px;
        letter-spacing: 0.02em;
        overflow: hidden;

        transition: color 0.15s ease-in-out 0s;
    }
    .twPc-bg {
        background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
       
        background-size: 100% auto;
        border-bottom: 1px solid #e1e8ed;
        border-radius: 4px 4px 0 0;
        height: 150px;
        width: 100%;
    }
    .twPc-d {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 256px;
    margin-left:10px;
    max-width: 95%;
    //: ;
    
}
    .twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 150px;
    margin-left: 0;
    max-width: 100%;
    //: ;
    
}
.twPc-divStats {
    margin-left: 11px;
   
    padding: 5px 0;
   
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
    div.twPc-divName {
        margin-top:55px;
         color:black;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
    }
    img.img-thumbnail1 {
        
        border-radius: 50%;
       padding: 4px;
    background: #fff; 
        height: 145px;
        width: 145px;
        margin-top: -40px;
        margin-bottom:35px;
    }
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 20px 80px;
    z-index: 9;
    width: 20%; 
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #8c8cff;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #3840db;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}


@media (max-width:768px){
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
#buscar4{
    display: none;   
}
}
@media (max-width:370px){
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: -6px;
}
.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
#buscar4{
    display: none;   
}
}